<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atata" version="2.3.0" />
  <package id="Atata.Bootstrap" version="2.0.0" targetFramework="net48" />
  <package id="Atata.WebDriverExtras" version="2.2.0" />
  <package id="Atata.WebDriverSetup" version="2.4.0" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" />
  <package id="NUnit3TestAdapter" version="4.2.1" />
  <package id="Selenium.WebDriver" version="4.5.1" />
</packages>